.social-media-nav {
    display: relative;
    justify-content: space-between;
    height: 35px;
    background: #3542ae;
    color: rgba(113,155,252,1);
    .col-6 {
        height: 100%;
        .social-medias-icons {
            height: 100%;
        }
    }
    .header-media-icons {
        height: 100%;
        align-items: center
    }
    ul{
        li{
            i {
                margin-right: 5px;
                padding: 5px;
                color: rgba(113,155,252,1);
            }

            p{
                color: rgba(113,155,252,1);
                display: inline;
                margin-right: 10px;
            }

            a{
                text-decoration: none;
            }

            .fa-truck{
                top: 1%;
                right: 50%;
                position: absolute;
            }

            span {
                font-family: 'Courier New', Courier, monospace
            }
        }
    }
}