@import "./global.css";

.header-section {
    height: 70px;
    background-color: #333;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}


.logo {
    padding: 18px 18px 18px 0px;
    margin-right: 40px; 
}

.list-icons{
    color: #A5A5A5;
    padding: 5px;
    font-size: 24px;
    margin-left: 25px;
}

.fa-cart-shopping {
    margin-left: 90px;
}

.search-bar input {
    width: 800px;
    height: 40px;
    background-color: #A5A5A5;
    border-color: rgba(113,155,252,1);
    margin: 0px 30px 0px 20px;
}   

main {
    background-image: url("../photos/Second-section-photo.jpg");
    background-size: cover;
    background-position: center;
    height: 885px;
}

main .text-div {
    justify-content: center;
}

main .text-div h2 {
    font-size: 150px;
    margin: 230px 0px 0px 990px;
    color: white;
}

main .text-div span {
    font-size: 90px;
    background-color: yellow;
    color: black;
}

.catagories-div {
    justify-content: center;
}

.catagories-photo {
    margin-top: 120px;
    height: 210px;
    width: 350px;
}
